---
import { getCollection } from "astro:content";

import BlogPostItem from "./blogPostItem.astro";

const allBlogs = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<p id="no-posts" class="no-posts" style="display: none;"></p>
<ul class="posts-list" id="posts-list">
	{
		allBlogs.map((post) => (
			<BlogPostItem
				title={post.data.title}
				href={`/blog/${post.id}`}
				date={post.data.pubDate}
				description={post.data.description}
				tags={post.data.tags}
			/>
		))
	}
</ul>
