---
interface Props {
	title: string;
	href: string;
	date: Date;
	description?: string;
	tags?: string[];
	showTags?: boolean;
}

const {
	title,
	href,
	date,
	description,
	tags = [],
	showTags = true,
} = Astro.props;

import { formatDate } from "../formatDate";
---

<li class="post-item" data-tags={JSON.stringify(tags)}>
	<a href={href} class="post-link">
		<span class="post-title">{title}</span>
		<span class="post-date">{formatDate(date)}</span>
	</a>
	{description && <p class="post-description">{description}</p>}
	{
		showTags && tags.length > 0 && (
			<div class="post-tags">
				{tags.map((tag: string) => (
					<a
						href={`/blog?tag=${encodeURIComponent(tag)}`}
						class="post-tag"
						data-tag={tag}
					>
						{tag}
					</a>
				))}
			</div>
		)
	}
</li>
