---
import { getCollection } from "astro:content";
import BlogPostItem from "./blogPostItem.astro";

const allBlogs = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const recentBlogs = allBlogs.slice(0, 3);
---

<section class="posts-section">
	<h2 class="section-title">Recent Posts</h2>
	<ul class="posts-list">
		{
			recentBlogs.map((post) => (
				<BlogPostItem
					title={post.data.title}
					href={`/blog/${post.id}`}
					date={post.data.pubDate}
					description={post.data.description}
					tags={post.data.tags}
				/>
			))
		}
	</ul>
	<a href="/blog" class="view-all-link"> View all posts → </a>
</section>
