---
import "../styles/blog.css";

import NavigableLayout from "./navigable.astro";
import TableOfContents from "../components/toc/toc.astro";
import Header from "../components/blogs/header.astro";

const { frontmatter, headings } = Astro.props;
const { minutesRead } = frontmatter;

const article = {
	publishedTime: frontmatter.pubDate
		? new Date(frontmatter.pubDate).toISOString()
		: undefined,
	authors: frontmatter.author ? [frontmatter.author] : undefined,
	tags: frontmatter.tags,
};
---

<NavigableLayout
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image}
	article={article}
	class="blog-layout"
>

	<Header
		title={frontmatter.title}
		description={frontmatter.description}
		date={frontmatter.date}
		minutesRead={minutesRead}
		author={frontmatter.author}
		editors={frontmatter.editors}
		tags={frontmatter.tags}
	/>

	<div class="blog-container">
		<aside class="toc-sidebar">
			<div class="toc-wrapper">
				<h2 class="toc-title">Table of Contents</h2>
				<TableOfContents headings={headings} />
			</div>
		</aside>
		<main class="post-content">
			<slot />
		</main>
	</div>

	<script>
		import "../components/blogs/blogPost.js";
	</script>
</NavigableLayout>
