---
import "../styles/blog.css";

import Searchable from "./searchable.astro";

import { Header } from "../components/blogs";
import { Sidebar } from "../components/toc";

const { frontmatter, headings } = Astro.props;
const { minutesRead } = frontmatter;

const article = {
	publishedTime: frontmatter.pubDate
		? new Date(frontmatter.pubDate).toISOString()
		: undefined,
	authors: frontmatter.author ? [frontmatter.author] : undefined,
	tags: frontmatter.tags,
};
---

<Searchable
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image}
	article={article}
	class="blog-layout"
>
	<Header
		title={frontmatter.title}
		description={frontmatter.description}
		date={new Date(frontmatter.pubDate)}
		minutesRead={minutesRead}
		author={frontmatter.author}
		editors={frontmatter.editors}
		tags={frontmatter.tags}
	/>

	<div class="blog-container">
		<Sidebar headings={headings} />
		<main class="post-content">
			<slot />
		</main>
	</div>

	<script>
		import { initScrollSpy } from "../scripts/scrollSpy";
		import { initHeadingAnchors } from "../scripts/headingAnchors";

		function initBlogPost() {
			initScrollSpy();
			initHeadingAnchors();
		}

		if (document.readyState === "loading") {
			document.addEventListener("DOMContentLoaded", initBlogPost);
		} else {
			initBlogPost();
		}

		document.addEventListener("astro:page-load", initBlogPost);
	</script>
</Searchable>
