---
import "../styles/post.css";

import Searchable from "./searchable.astro";

import { BlogHeader } from "../components/blogs";
import { Sidebar } from "../components/toc";
import type { MarkdownHeading } from "astro";

interface Props {
	frontmatter: {
		title: string;
		description: string;
		pubDate: Date;
		minutesRead: number;
		author?: string;
		editors?: string[];
		tags?: string[];
		image?: {
			url: string;
			alt: string;
		}
	};
	headings?: MarkdownHeading[];
}

const { frontmatter, headings } = Astro.props;
const { minutesRead } = frontmatter;

const article = {
	publishedTime: frontmatter.pubDate
		? new Date(frontmatter.pubDate).toISOString()
		: new Date().toISOString(),
	authors: frontmatter.author
		? [frontmatter.author]
		: [],
	tags: frontmatter.tags
		? frontmatter.tags
		: [],
};
---

<Searchable
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image?.url}
	alt={frontmatter.image?.alt}
	article={article}
	class="blog-layout"
>
	<BlogHeader
		title={frontmatter.title}
		description={frontmatter.description}
		date={new Date(frontmatter.pubDate)}
		minutesRead={minutesRead}
		author={frontmatter.author}
		editors={frontmatter.editors}
		tags={frontmatter.tags ?? []}
	/>

	<div class="blog-container">
		<Sidebar headings={headings} />
		<main class="post-content">
			<slot />
		</main>
	</div>

	<script>
		import { initHeadingAnchors } from "../scripts/headingAnchors";
		import { initScrollSpy } from "../scripts/scrollSpy";

		function initBlogPost() {
			initScrollSpy();
			initHeadingAnchors();
		}

		if (document.readyState === "loading") {
			document.addEventListener("DOMContentLoaded", initBlogPost);
		} else {
			initBlogPost();
		}

		document.addEventListener("astro:page-load", initBlogPost);
	</script>
</Searchable>
