---
import "../styles/global.css";

import Navigation from "../components/navigation/navigation.astro";
import Footer from "../components/footer.astro";
import SEO from "../components/seo.astro";
import { DEFAULT_TITLE } from "../constants";

interface Props {
	title?: string;
	description?: string;
	image?: string;
	article?: {
		publishedTime?: string;
		modifiedTime?: string;
		authors?: string[];
		tags?: string[];
	};
	class?: string;
}

const {
	title = DEFAULT_TITLE,
	description,
	image,
	article,
	class: className,
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<SEO
			title={title}
			description={description}
			image={image}
			article={article}
		/>
		<slot name="head" />
	</head>
	<body class={className}>
		<Navigation />
		<div class="main-content">
			<slot />
		</div>
		<Footer />
	</body>
	<link rel="sitemap" href="/sitemap-index.xml" />
</html>
