---
import "../styles/wayfinder.css";

import Searchable from "./searchable.astro";

import { Header } from "../components/blogs";

const { frontmatter } = Astro.props;
const { minutesRead } = frontmatter;

const article = {
	publishedTime: frontmatter.pubDate
		? new Date(frontmatter.pubDate).toISOString()
		: undefined,
	authors: frontmatter.author ? [frontmatter.author] : undefined,
	tags: frontmatter.tags,
};
---

<Searchable
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image}
	article={article}
	class="wayfinder-layout"
>
	<Header
		title={frontmatter.title}
		description={frontmatter.description}
		date={frontmatter.date}
		minutesRead={minutesRead}
		author={frontmatter.author}
		editors={frontmatter.editors}
		tags={frontmatter.tags}
	/>

	<div class="wayfinder-post">
		<main>
			<slot />
		</main>
	</div>
</Searchable>
