---
import '../styles/wayfinders.css';

import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
const {
  frontmatter
} = Astro.props;
---
<html lang="en">
	<body class="wayfinder-layout">
		<Navigation />
		<div class="wayfinder-title">
			<div class="post-header">
				<h1 class="post-title">
					{frontmatter.title}
				</h1>
				<p class="post-summary">{frontmatter.description}</p>
				<div class="post-meta">
					<span>{frontmatter.pubDate}</span>
					<span> · </span>
					<span>{frontmatter.author}</span>
				</div>
				<ul class="post-tags">
					{frontmatter.tags.map(tag => <li class="tag" key={tag}>#{tag}</li>)}
				</ul>
			</div>
		</div>
		<div class="wayfinder-post">
			<main>
				<slot />
			</main>
		</div>
		<Footer />
	</body>
</html>
