---
import "../styles/wayfinders.css";

import NavigableLayout from "./navigable.astro";
const { frontmatter } = Astro.props;
const { minutesRead } = frontmatter;

const article = {
	publishedTime: frontmatter.pubDate
		? new Date(frontmatter.pubDate).toISOString()
		: undefined,
	authors: frontmatter.author ? [frontmatter.author] : undefined,
	tags: frontmatter.tags,
};
---

<NavigableLayout
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image}
	article={article}
	class="wayfinder-layout"
>
	<header class="post-header-fixed">
		<div class="post-header-box">
			<div class="post-header-content">
				<div class="post-header-main">
					<h1 class="post-title" data-pagefind-meta="title">
						{frontmatter.title}
					</h1>
					<div class="post-meta">
						<span class="post-date"
							>{
								new Date(frontmatter.pubDate).toDateString()
							}</span
						>
						<span class="meta-separator">·</span>
						<span class="post-author">{frontmatter.author}</span>
						<span class="meta-separator">·</span>
						<span class="reading-time">{minutesRead}</span>
					</div>
				</div>
				<div class="post-header-collapsible">
					<p class="post-summary">{frontmatter.description}</p>
					<ul class="post-tags">
						{
							frontmatter.tags.map((tag) => (
								<li class="tag">#{tag}</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="wayfinder-post">
		<main>
			<slot />
		</main>
	</div>
</NavigableLayout>
