---
import "../styles/wayfinder.css";
import "../styles/link-preview.css";

import Searchable from "./searchable.astro";

import { WayfinderHeader } from "../components/wayfinders";

const { frontmatter } = Astro.props;
const { minutesRead } = frontmatter;

const article = {
	publishedTime: frontmatter.pubDate
		? new Date(frontmatter.pubDate).toISOString()
		: new Date().toISOString(),
	authors: frontmatter.author ? [frontmatter.author] : [],
	tags: frontmatter.tags,
};
---

<Searchable
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image}
	article={article}
	class="wayfinder-layout"
>
	<WayfinderHeader
		title={frontmatter.title}
		description={frontmatter.description}
		date={frontmatter.pubDate}
		minutesRead={minutesRead}
		author={frontmatter.author}
	/>

	<div class="wayfinder-post">
		<main>
			<slot />
		</main>
	</div>

	<script>
		import { initLinkPreview, cleanupLinkPreview } from "../scripts/linkPreview";

		function initWayfinder() {
			initLinkPreview();
		}

		if (document.readyState === "loading") {
			document.addEventListener("DOMContentLoaded", initWayfinder);
		} else {
			initWayfinder();
		}

		document.addEventListener("astro:page-load", initWayfinder);
		document.addEventListener("astro:before-preparation", cleanupLinkPreview);
	</script>
</Searchable>
